<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      About Page
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h1>Baker's hotel</h1>
  <ion-card>
    This is the best Hotel in Lira town.<p>Working 24/7.
  We serve quality dishes.
  <P> Both local and Intl Dishes at affordable prices.
    Welcome.
    </ion-card>
    <ion-card>
      <ion-card-header>
        <h1>SERVICES OFFERED</h1>
        </ion-card-header>
    <div class="list">
    <div class="item item-divider"><<h1>Breakfast</h1></div>
    <div class="item">Milk</div>
<div class="item">Coffee</div>
<div class="item">Black Tea</div>
<div class="item item-divider"><<h1>Lunch</h1></div>
<div class="item">Chicken and Chips</div>
<div class="item">Boiled Goat's Meat</div>
<div class="item">Beef Stew</div>
<div class="item item-divider"><<h1>Accommodation</h1></div>
<div class="item">Duplex Room $70</div>
<div class="item">Single rooms $30</div>
<div class="item">Baby's Room $25</div>
<div class="item item-divider"><<h1>Others</h1></div>
<div class="item">Conference Halls</div>
<div class="item">Party Halls</div>
<div class="item">Bars and Jimm</div>
</div>
</ion-card>
</ion-content>
