<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Register Page
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  {{res}}
  <form (ngSubmit)="regForm()">
  <ion-item>
    	<ion-label>Username</ion-label>
      	<ion-input type='text' [(ngModel)]='register.uname' name='username'></ion-input>
</ion-item>
<ion-item>
	<ion-label>Password</ion-label>
	<ion-input type='password' [(ngModel)]='register.pass' name='pass'></ion-input>
</ion-item>
<button ion-button type="submit" block>Register</button>
</form>
</ion-content>
