<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
<ion-card-header>
  Welcome To Baker's Hotel
</ion-card-header>

<ion-card-content>
    <ion-card-content>
          <img src="assets/imgs/Hall.jpg" width="100"/>
    </ion-card-content>
  This hotel offers quality services in Lira. The hotel offers both local and international Dishes.
  It is blessed with the best Chefs and cooks in Town.
  You will also find spacious conference halls and duplex rooms at affordable prices.

</ion-card-content>
</ion-card>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/Hall.jpg" width="100"/>
        </ion-avatar>
        The Daily Menu
      </ion-item>
      <ion-item-options slide='left'>
        <button ion-button>LIKE</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
